* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #1e3a8a, #7b2cbf);
  }
  
  /* .container {
    background: linear-gradient(to right, #f7f7f7, #feb47b);
    padding: 2rem;
    border-radius: 1rem;
    animation: border-animation 3s infinite;
    min-height: 45vh;
    width: 40vh;
  } */
  .container {
    background: linear-gradient(to right, #f7f7f7, #feb47b);
    padding: 2rem;
    border-radius: 1rem;
    border: 5px solid transparent;
    width: 40vh;
    min-height: 50vh;
    animation: border-animation 3s infinite;
    font-size: 18px;
    text-align: center;
}

@keyframes border-animation {
    0% {
        border-color: #d82f05;
    }
    50% {
        border-color: #0057f9;
    }
    100% {
        border-color: #fdaa04;
    }
}
  form {
    margin: 2rem 0 1rem 0;
  }
  
  form select,
  button,
  input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
  }
  
  form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
  }
  
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .select-container img {
    max-width: 2rem;
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }
  
  .select-container select {
    font-size: 1rem;
    width: auto;
  }
  
  .msg {
    margin: 2rem 0 2rem 0;
  }
  
  form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
  }